In [31]:
import xlrd
import pandas as pd
import numpy as np
import json
import unidecode
from functools import reduce

In [2]:
df = pd.read_excel('input/youth_survey_raw.xlsx')

# get question ids from columns
question_ids = [ c for c in df.columns if 'Q' in c ]

# copy row 0 to column names
df.columns = df.iloc[0]

# delete row 0
df = df.drop(0, axis=0)
df = df.applymap(str)

In [3]:
question_columns = [col.strip() for col in df.columns if col.startswith(('Q'))]
demographic_columns = [col.strip() for col in df.columns if col.startswith(('S'))]
demographic_columns

['S1: How old are you',
 'S2: What is your marital status?',
 'S3: Do you have any children?',
 'S4: (If "yes"), How many?',
 'S5: Including you, how many people, children, above and under 15 live in this household?',
 'S6: What is the highest education level you completed?',
 'S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?',
 'S8: What is your job status today?',
 'S11: Gender of respondent']

In [4]:
df_ = df.filter(items=question_columns)
df_['governorate'] = df['M2: Governorate']
df_['district'] = df['M3: District']
df_['urbanity'] = df['M7: Urbanity']
df_['household_monthly_income'] = df['S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?']
df_['age'] = df['S1: How old are you']
df_['marital_status'] = df['S2: What is your marital status?'].apply(lambda x: x.split(', ')[0])
df_['have_children'] = df['S3: Do you have any children?']
df_['job_status'] = df['S8: What is your job status today?'].apply(lambda x: x.replace('Unemployed, looking for job', 'Unemployed').replace('Works in his/her own business', 'Self-employed'))
df_['gender'] = df['S11: Gender of respondent']

df_.head()

,Q1: First I would like to ask you about your current situation / family situation. How would you rate it on a scale from 1 to 5?,"Q2: In general, what do you think about the current situation in Yemen, is it going in the right direction or in the wrong direction?",Q3: What is your status:,Q3x: Other,"Q4_1: What are the reasons you had to stop going to school, university, vocational training or lost your job? First answer",Q4_1_X :Other,"Q4_2: What are the reasons you had to stop going to school, university, vocational training or lost your job? Second answer",Q4_2_X :Other,Q5: How much time do you spend at school/university/work/vocational training?,Q6: How close is the school/university/work/vocational training you attend to your house?,...,Q61_3_X: Other,governorate,district,urbanity,household_monthly_income,age,marital_status,have_children,job_status,gender
1,Neither bad nor good,In a very bad direction,School student,nan,nan,nan,nan,nan,5-8 hours,0-1 km,...,nan,Ibb,Al-Sabrah,Rural,"20,000 YER- 39,000 YER",17,Single,nan,Student,Male
2,It’s very bad,"3.Not in the right direction, not in the wrong...",School student,nan,nan,nan,nan,nan,1-4 hours,0-1 km,...,nan,Ibb,Al-Makhader,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Male
3,It’s very bad,In a very bad direction,I am a housewife,nan,nan,nan,nan,nan,nan,nan,...,nan,Abyan,Khanfar,Rural,"Less than 20,000 YER",25,Married,Yes,Housewife,Female
4,Neither bad nor good,"3.Not in the right direction, not in the wrong...",I am a housewife,nan,nan,nan,nan,nan,nan,nan,...,nan,Shabwah,Jardaan,Rural,"60,000 YER - 79,000 YER",19,Married,No,Housewife,Female
5,It’s somewhat good,In a very bad direction,School student,nan,nan,nan,nan,nan,1-4 hours,0-1 km,...,nan,ad-Dali,Qatabah,Rural,"60,000 YER - 79,000 YER",18,Single,nan,Student,Male

In [21]:
df_a_list = []
for q in question_columns:
    df_a = pd.DataFrame()
    
    
    
    q_ = unidecode.unidecode(q)
    qID = q_.split(':')[0]
    q_ = q_.split(':')[1].strip()
    
    
  
    if q_ != 'Other':
        df_a['governorate'] = df_['governorate']
        df_a['district'] = df_['district']
        df_a['qID'] = qID
        df_a['question_raw'] = q_
        df_a['answer_raw'] = df_[q]
        df_a['urbanity'] = df_['urbanity']
        df_a['household_monthly_income'] = df_['household_monthly_income']
        df_a['age'] = df_['age']
        df_a['marital_status'] = df_['marital_status']
        df_a['have_children'] = df_['have_children']
        df_a['job_status'] = df_['job_status']
        df_a['gender'] = df_['gender']
    
    
    

    df_a_list.append(df_a)

df_formatted = pd.concat(df_a_list)


df_formatted.head()

,governorate,district,qID,question_raw,answer_raw,urbanity,household_monthly_income,age,marital_status,have_children,job_status,gender
1,Ibb,Al-Sabrah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"20,000 YER- 39,000 YER",17,Single,nan,Student,Male
2,Ibb,Al-Makhader,Q1,First I would like to ask you about your curre...,It’s very bad,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Male
3,Abyan,Khanfar,Q1,First I would like to ask you about your curre...,It’s very bad,Rural,"Less than 20,000 YER",25,Married,Yes,Housewife,Female
4,Shabwah,Jardaan,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"60,000 YER - 79,000 YER",19,Married,No,Housewife,Female
5,ad-Dali,Qatabah,Q1,First I would like to ask you about your curre...,It’s somewhat good,Rural,"60,000 YER - 79,000 YER",18,Single,nan,Student,Male

In [23]:
answer_count = df_formatted.groupby(['governorate', 'question_raw', 'answer_raw']).transform('count')
answer_total = df_formatted.groupby(['governorate', 'question_raw']).transform('count')

df_formatted['answer_count'] = ""
df_formatted['answer_count'] = answer_count

df_formatted['answer_total'] = ""
df_formatted['answer_total'] = answer_total

df_formatted['answer_pct'] = (df_formatted['answer_count'] / df_formatted['answer_total'])*100

df_formatted.head()

,governorate,district,qID,question_raw,answer_raw,urbanity,household_monthly_income,age,marital_status,have_children,job_status,gender,answer_count,answer_total,answer_pct
1,Ibb,Al-Sabrah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"20,000 YER- 39,000 YER",17,Single,nan,Student,Male,61,170,35.882353
2,Ibb,Al-Makhader,Q1,First I would like to ask you about your curre...,It’s very bad,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Male,53,170,31.176471
3,Abyan,Khanfar,Q1,First I would like to ask you about your curre...,It’s very bad,Rural,"Less than 20,000 YER",25,Married,Yes,Housewife,Female,13,30,43.333333
4,Shabwah,Jardaan,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"60,000 YER - 79,000 YER",19,Married,No,Housewife,Female,16,40,40.000000
5,ad-Dali,Qatabah,Q1,First I would like to ask you about your curre...,It’s somewhat good,Rural,"60,000 YER - 79,000 YER",18,Single,nan,Student,Male,9,40,22.500000

In [46]:
xls = pd.ExcelFile('tagged.xlsx')
tagged_questions = pd.read_excel(xls, 'questions')
tagged_answers = pd.read_excel(xls, 'answers')


df_tagged = tagged_questions.merge(tagged_answers, on = ['qID', 'question_raw'], how = 'outer')
df_tagged

# df_final = reduce(lambda left,right: pd.merge(left,right,on=['qID', 'question_raw']), [df_formatted, tagged_questions, tagged_answers])

,qID,question_raw,question_en,question_ar,question_tag,question_tag_order,question_map,question_keep,question_type,question_scale,aID,answer_raw,answer_en,answer_ar,answer_rank
0,Q1,First I would like to ask you about your curre...,How would you rate you and your family's curre...,NaN,daily life,1.0,y,y,scale,5.0,Q1_a1,Don't know,NaN,NaN,dk
1,Q1,First I would like to ask you about your curre...,How would you rate you and your family's curre...,NaN,daily life,1.0,y,y,scale,5.0,Q1_a2,It is very good,Very good,NaN,5
2,Q1,First I would like to ask you about your curre...,How would you rate you and your family's curre...,NaN,daily life,1.0,y,y,scale,5.0,Q1_a3,It's somewhat bad,Bad,NaN,2
3,Q1,First I would like to ask you about your curre...,How would you rate you and your family's curre...,NaN,daily life,1.0,y,y,scale,5.0,Q1_a4,It's somewhat good,Good,NaN,4
4,Q1,First I would like to ask you about your curre...,How would you rate you and your family's curre...,NaN,daily life,1.0,y,y,scale,5.0,Q1_a5,It's very bad,Very bad,NaN,1
5,Q1,First I would like to ask you about your curre...,How would you rate you and your family's curre...,NaN,daily life,1.0,y,y,scale,5.0,Q1_a6,Neither bad nor good,Average,NaN,3
6,Q2,"In general, what do you think about the curren...",Is the situation in Yemen heading in the right...,NaN,politics,1.0,y,y,scale,5.0,Q2_a1,Don't know,NaN,NaN,dk
7,Q2,"In general, what do you think about the curren...",Is the situation in Yemen heading in the right...,NaN,politics,1.0,y,y,scale,5.0,Q2_a2,"Not in the right direction, not in the wrong d...",Neither the right nor the wrong direction,NaN,3
8,Q2,"In general, what do you think about the curren...",Is the situation in Yemen heading in the right...,NaN,politics,1.0,y,y,scale,5.0,Q2_a3,In a very bad direction,The wrong direction,NaN,1
9,Q2,"In general, what do you think about the curren...",Is the situation in Yemen heading in the right...,NaN,politics,1.0,y,y,scale,5.0,Q2_a4,In the right direction,The right direction,NaN,5
10,Q2,"In general, what do you think about the curren...",Is the situation in Yemen heading in the right...,NaN,politics,1.0,y,y,scale,5.0,Q2_a5,To some extent in a bad direction,Tending to the wrong direction,NaN,2
11,Q2,"In general, what do you think about the curren...",Is the situation in Yemen heading in the right...,NaN,politics,1.0,y,y,scale,5.0,Q2_a6,To some extent in the right direction,Tending to the right direction,NaN,4
12,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a1,Employed,Employed,NaN,2
13,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a2,I am a housewife,Housewife,NaN,4
14,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a3,I am unemployed,Unemployed,NaN,3
15,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a4,I lost my job because it got destroyed during ...,Other,NaN,x
16,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a5,I lost my job becauseof other reasons,Other,NaN,x
17,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a6,"I used to go to school, but I can't go to scho...",Other,NaN,x
18,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a7,"I used to go to university, but I can't go to ...",Other,NaN,x
19,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a8,I used to go to vocational training but I can'...,Other,NaN,x
20,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a9,"I used to go to vocational training, but the i...",Other,NaN,x
21,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a10,I used to work in my own business but it close...,Other,NaN,x
22,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a11,I used to work in my own business but it got d...,Other,NaN,x
23,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a12,I work in my own business,Self-employed,NaN,6
24,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a13,Other,Other,NaN,x
25,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a14,School student,School student,NaN,1
26,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a15,University student,University student,NaN,5
27,Q3,What is your status,What is your employment status?,NaN,work & education,1.0,NaN,y,category,NaN,Q3_a16,Vocational training,Other,NaN,x
28,Q4_1,What are the reasons you had to stop going to ...,"Why did you stop going to school, university, ...",NaN,NaN,NaN,NaN,n,NaN,NaN,Q4_1_a1,Because of the bad living conditions/ to help ...,NaN,NaN,removed / repeated
29,Q4_1,What are the reasons you had to stop going to ...,"Why did you stop going to school, university, ...",NaN,NaN,NaN,NaN,n,NaN,NaN,Q4_1_a2,"Because of war (displacement, stop paying sala...",NaN,NaN,removed / repeated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1756,Q62G,How do you evaluate the role that Germany play...,"In your opinion, is Germany playing a positive...",NaN,international relations,8.0,NaN,y,scale,5.0,Q62G_a6,(DK),NaN,NaN,dk
1757,Q62G,How do you evaluate the role that Germany play...,"In your opinion, is Germany playing a positive...",NaN,international relations,8.0,NaN,y,scale,5.0,Q62G_a7,(RF),NaN,NaN,x
1758,Q62H,How do you evaluate the role that China plays ...,"In your opinion, is China playing a positive o...",NaN,international relations,11.0,NaN,y,scale,5.0,Q62H_a1,Very negative,Very negative,NaN,1
1759,Q62H,How do you evaluate the role that China plays ...,"In your opinion, is China playing a positive o...",NaN,international relations,11.0,NaN,y,scale,5.0,Q62H_a2,2,Negative,NaN,2
1760,Q62H,How do you evaluate the role that China plays ...,"In your opinion, is China playing a positive o...",NaN,international relations,11.0,NaN,y,scale,5.0,Q62H_a3,3,Neither positive nor negative,NaN,3
1761,Q62H,How do you evaluate the role that China plays ...,"In your opinion, is China playing a positive o...",NaN,international relations,11.0,NaN,y,scale,5.0,Q62H_a4,4,Positive,NaN,4
1762,Q62H,How do you evaluate the role that China plays ...,"In your opinion, is China playing a positive o...",NaN,international relations,11.0,NaN,y,scale,5.0,Q62H_a5,Very positive,Very positive,NaN,5
1763,Q62H,How do you evaluate the role that China plays ...,"In your opinion, is China playing a positive o...",NaN,international relations,11.0,NaN,y,scale,5.0,Q62H_a6,(DK),NaN,NaN,dk
1764,Q62H,How do you evaluate the role that China plays ...,"In your opinion, is China playing a positive o...",NaN,international relations,11.0,NaN,y,scale,5.0,Q62H_a7,(RF),NaN,NaN,x
1765,Q62I,How do you evaluate the role that UK plays in ...,"In your opinion, is the UK playing a positive ...",NaN,international relations,6.0,NaN,y,scale,5.0,Q62I_a1,Very negative,Very negative,NaN,1
1766,Q62I,How do you evaluate the role that UK plays in ...,"In your opinion, is the UK playing a positive ...",NaN,international relations,6.0,NaN,y,scale,5.0,Q62I_a2,2,Negative,NaN,2
1767,Q62I,How do you evaluate the role that UK plays in ...,"In your opinion, is the UK playing a positive ...",NaN,international relations,6.0,NaN,y,scale,5.0,Q62I_a3,3,Neither positive nor negative,NaN,3
1768,Q62I,How do you evaluate the role that UK plays in ...,"In your opinion, is the UK playing a positive ...",NaN,international relations,6.0,NaN,y,scale,5.0,Q62I_a4,4,Positive,NaN,4
1769,Q62I,How do you evaluate the role that UK plays in ...,"In your opinion, is the UK playing a positive ...",NaN,international relations,6.0,NaN,y,scale,5.0,Q62I_a5,Very positive,Very positive,NaN,5
1770,Q62I,How do you evaluate the role that UK plays in ...,"In your opinion, is the UK playing a positive ...",NaN,international relations,6.0,NaN,y,scale,5.0,Q62I_a6,(DK),NaN,NaN,dk
1771,Q62I,How do you evaluate the role that UK plays in ...,"In your opinion, is the UK playing a positive ...",NaN,international relations,6.0,NaN,y,scale,5.0,Q62I_a7,(RF),NaN,NaN,x
1772,Q62J,How do you evaluate the role that UAE plays in...,"In your opinion, is the United Arab Emirates p...",NaN,international relations,7.0,NaN,y,scale,5.0,Q62J_a1,Very negative,Very negative,NaN,1
1773,Q62J,How do you evaluate the role that UAE plays in...,"In your opinion, is the United Arab Emirates p...",NaN,international relations,7.0,NaN,y,scale,5.0,Q62J_a2,2,Negative,NaN,2
1774,Q62J,How do you evaluate the role that UAE plays in...,"In your opinion, is the United Arab Emirates p...",NaN,international relations,7.0,NaN,y,scale,5.0,Q62J_a3,3,Neither positive nor negative,NaN,3
1775,Q62J,How do you evaluate the role that UAE plays in...,"In your opinion, is the United Arab Emirates p...",NaN,international relations,7.0,NaN,y,scale,5.0,Q62J_a4,4,Positive,NaN,4
1776,Q62J,How do you evaluate the role that UAE plays in...,"In your opinion, is the United Arab Emirates p...",NaN,international relations,7.0,NaN,y,scale,5.0,Q62J_a5,Very positive,Very positive,NaN,5
1777,Q62J,How do you evaluate the role that UAE plays in...,"In your opinion, is the United Arab Emirates p...",NaN,international relations,7.0,NaN,y,scale,5.0,Q62J_a6,(DK),NaN,NaN,dk
1778,Q62J,How do you evaluate the role that UAE plays in...,"In your opinion, is the United Arab Emirates p...",NaN,international relations,7.0,NaN,y,scale,5.0,Q62J_a7,(RF),NaN,NaN,x
1779,Q62K,How do you evaluate the role that Kuwait plays...,"In your opinion, is Kuwait playing a positive ...",NaN,international relations,9.0,NaN,y,scale,5.0,Q62K_a1,Very negative,Very negative,NaN,1
1780,Q62K,How do you evaluate the role that Kuwait plays...,"In your opinion, is Kuwait playing a positive ...",NaN,international relations,9.0,NaN,y,scale,5.0,Q62K_a2,2,Negative,NaN,2
1781,Q62K,How do you evaluate the role that Kuwait plays...,"In your opinion, is Kuwait playing a positive ...",NaN,international relations,9.0,NaN,y,scale,5.0,Q62K_a3,3,Neither positive nor negative,NaN,3
1782,Q62K,How do you evaluate the role that Kuwait plays...,"In your opinion, is Kuwait playing a positive ...",NaN,international relations,9.0,NaN,y,scale,5.0,Q62K_a4,4,Positive,NaN,4
1783,Q62K,How do you evaluate the role that Kuwait plays...,"In your opinion, is Kuwait playing a positive ...",NaN,international relations,9.0,NaN,y,scale,5.0,Q62K_a5,Very positive,Very positive,NaN,5
1784,Q62K,How do you evaluate the role that Kuwait plays...,"In your opinion, is Kuwait playing a positive ...",NaN,international relations,9.0,NaN,y,scale,5.0,Q62K_a6,(DK),NaN,NaN,dk
1785,Q62K,How do you evaluate the role that Kuwait plays...,"In your opinion, is Kuwait playing a positive ...",NaN,international relations,9.0,NaN,y,scale,5.0,Q62K_a7,(RF),NaN,NaN,x

In [68]:
df_final = df_formatted.merge(df_tagged, on = ['qID', 'question_raw', 'answer_raw'], how = 'outer')
df_final = df_final[df_final['question_keep'] == 'y']
print(list(df_final.columns), len(list(df_final.columns)))

df_final = df_final[['governorate', 'district', 'qID', 'question_raw', 'question_en', 'question_ar', 'question_tag', 'question_tag_order', 'question_type', 'question_map', 'question_scale', 'answer_raw', 'answer_en', 'answer_ar', 'answer_count', 'answer_total', 'answer_pct', 'answer_rank', 'urbanity', 'household_monthly_income', 'age', 'marital_status', 'job_status', 'gender', 'have_children']]
df_final.to_csv('final.csv', index=False)

['governorate', 'district', 'qID', 'question_raw', 'answer_raw', 'urbanity', 'household_monthly_income', 'age', 'marital_status', 'have_children', 'job_status', 'gender', 'answer_count', 'answer_total', 'answer_pct', 'question_en', 'question_ar', 'question_tag', 'question_tag_order', 'question_map', 'question_keep', 'question_type', 'question_scale', 'aID', 'answer_en', 'answer_ar', 'answer_rank'] 27