In [1]:
import xlrd
import pandas as pd
import numpy as np
import json
import unidecode

/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.read_excel('input/youth_survey_raw.xlsx')

# get question ids from columns
question_ids = [ c for c in df.columns if 'Q' in c ]

# copy row 0 to column names
df.columns = df.iloc[0]

# delete row 0
df = df.drop(0, axis=0)
df = df.applymap(str)

,M1: Questionnaire No,Project No,Project Name,M2: Governorate,M3: District,M7: Urbanity,M8: Date of interview,M8a: Day of interview,M9: Interview Validation,M11b: Date of Auditing,...,Q61_3_X: Other,S1: How old are you,S2: What is your marital status?,S3: Do you have any children?,"S4: (If ""yes""), How many?","S5: Including you, how many people, children, above and under 15 live in this household?",S6: What is the highest education level you completed?,"S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?",S8: What is your job status today?,S11: Gender of respondent
1,79,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
2,101,132,Youth Survey,Ibb,Al-Makhader,Rural,2017-05-12 00:00:00,Fri,Accompanied interview,2017-05-12 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,6,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Male
3,172,132,Youth Survey,Abyan,Khanfar,Rural,2017-05-10 00:00:00,Wed,Re-contacted by person,2017-05-10 00:00:00,...,nan,25,Married,Yes,4,6,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
4,1107,132,Youth Survey,Shabwah,Jardaan,Rural,2017-05-23 00:00:00,Tue,Not validated,2017-05-23 00:00:00,...,nan,19,Married,No,nan,9,Completed secondary school,"60,000 YER - 79,000 YER",Housewife,Female
5,1439,132,Youth Survey,ad-Dali,Qatabah,Rural,2017-05-10 00:00:00,Wed,Not validated,2017-05-10 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,13,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Male
6,917,132,Youth Survey,Hadhramawt,Al-Mukala City,Urban,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,4,Didn't complete secondary school,(DK),Student,Female
7,170,132,Youth Survey,Ibb,Yarim,Rural,2017-05-17 00:00:00,Wed,Not validated,2017-05-17 00:00:00,...,nan,24,Married,Yes,1,3,Completed elementary school,"20,000 YER- 39,000 YER",Housewife,Female
8,74,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,25,Divorced,Yes,4,5,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Works in his/her own business,Female
9,1462,132,Youth Survey,ad-Dali,Al-Dhale,Urban,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,5,Didn't complete secondary school,"Less than 20,000 YER",Student,Male
10,1436,132,Youth Survey,ad-Dali,Qatabah,Rural,2017-05-10 00:00:00,Wed,Re-contacted by person,2017-05-10 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,8,Completed secondary school,"20,000 YER- 39,000 YER","Unemployed, looking for job",Male
11,72,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,25,Widow,Yes,2,3,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
12,129,132,Youth Survey,Ibb,Al-Shaer,Rural,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,21,"Single, didn't not get married before",nan,nan,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
13,33,132,Youth Survey,Ibb,Thee Al-Sufal,Rural,2017-05-08 00:00:00,Mon,Not validated,2017-05-08 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Female
14,152,132,Youth Survey,Ibb,Al-Qafr,Rural,2017-05-17 00:00:00,Wed,Not validated,2017-05-17 00:00:00,...,nan,25,Married,Yes,3,5,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
15,142,132,Youth Survey,Ibb,Yarim,Rural,2017-05-16 00:00:00,Tue,Accompanied interview,2017-05-16 00:00:00,...,nan,24,"Single, didn't not get married before",nan,nan,8,Some university (didn't graduated),"60,000 YER - 79,000 YER",Student,Male
16,134,132,Youth Survey,Ibb,Al-Naderah,Rural,2017-05-15 00:00:00,Mon,Not validated,2017-05-15 00:00:00,...,nan,22,"Single, didn't not get married before",nan,nan,12,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Housewife,Female
17,94,132,Youth Survey,Ibb,Jeblah,Rural,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,22,Married,Yes,2,12,Completed intermediate school,"60,000 YER - 79,000 YER",Housewife,Female
18,29,132,Youth Survey,Ibb,Thee Al-Sufal,Urban,2017-05-07 00:00:00,Sun,Not validated,2017-05-07 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Female
19,12,132,Youth Survey,Ibb,Al-Seyanni,Rural,2017-05-06 00:00:00,Sat,Not validated,2017-05-06 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,"40,000 YER - 59,000 YER",Housewife,Female
20,48,132,Youth Survey,Ibb,Mutheikherah,Urban,2017-05-08 00:00:00,Mon,Not validated,2017-05-08 00:00:00,...,nan,23,Married,Yes,1,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
21,1442,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,22,Married,Yes,1,3,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
22,6,132,Youth Survey,Ibb,Hobeish,Rural,2017-05-05 00:00:00,Fri,Not validated,2017-05-05 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,7,Completed elementary school,"20,000 YER- 39,000 YER",Housewife,Female
23,17,132,Youth Survey,Ibb,Al-Seyanni,Rural,2017-05-06 00:00:00,Sat,Not validated,2017-05-06 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,4,Didn't complete intermediate school,"Less than 20,000 YER",Student,Male
24,66,132,Youth Survey,Ibb,Hazm Al-Odein,Rural,2017-05-09 00:00:00,Tue,Not validated,2017-05-09 00:00:00,...,nan,24,Widow,Yes,5,6,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Works in his/her own business,Female
25,54,132,Youth Survey,Ibb,Al-Odein,Rural,2017-05-08 00:00:00,Mon,Accompanied interview,2017-05-08 00:00:00,...,nan,25,Married,No,nan,2,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
26,1441,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Re-contacted by person,2017-05-12 00:00:00,...,nan,21,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Female
27,644,132,Youth Survey,Hajja,Najrah,Rural,2017-05-12 00:00:00,Fri,Not validated,2017-05-14 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,9,Didn't complete secondary school,"40,000 YER - 59,000 YER",Student,Male
28,1450,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,11,Didn't complete elementary school,"Less than 20,000 YER","Unemployed, looking for job",Male
29,27,132,Youth Survey,Ibb,Thee Al-Sufal,Urban,2017-05-07 00:00:00,Sun,Not validated,2017-05-07 00:00:00,...,nan,25,Married,Yes,3,6,Didn't complete elementary school,"40,000 YER - 59,000 YER",Housewife,Female
30,34,132,Youth Survey,Ibb,Thee Al-Sufal,Rural,2017-05-08 00:00:00,Mon,Accompanied interview,2017-05-08 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,1471,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Accompanied interview,2017-05-18 00:00:00,...,nan,19,"Single, didn't not get married before",nan,nan,9,Didn't complete secondary school,(DK),Student,Male
1472,1472,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,25,Married,Yes,1,7,Didn't complete secondary school,"Less than 20,000 YER","Unemployed, looking for job",Male
1473,1473,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,25,Married,Yes,2,4,Completed secondary school,"20,000 YER- 39,000 YER",Full time employee,Male
1474,1474,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,4,Didn't complete secondary school,(DK),Student,Male
1475,1475,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,(DK),Student,Male
1476,1476,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Re-contacted by person,2017-05-18 00:00:00,...,nan,24,Married,Yes,6,12,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Housewife,Female
1477,1477,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Re-contacted by person,2017-05-18 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,11,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Female
1478,1478,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,23,Married,Yes,2,8,Didn't complete elementary school,"Less than 20,000 YER",Housewife,Female
1479,1479,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"Less than 20,000 YER",Student,Female
1480,1480,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,9,Didn't complete elementary school,"Less than 20,000 YER",Housewife,Female
1481,1481,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,25,"Single, didn't not get married before",nan,nan,8,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
1482,1482,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,12,Didn't complete secondary school,"40,000 YER - 59,000 YER",Student,Female
1483,1483,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,9,Didn't complete elementary school,"20,000 YER- 39,000 YER",Housewife,Female
1484,1484,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,11,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Female
1485,1485,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,"20,000 YER- 39,000 YER",Student,Female
1486,1486,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,25,"Single, didn't not get married before",nan,nan,13,Completed secondary school,"20,000 YER- 39,000 YER",Full time employee,Male
1487,1487,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,7,Didn't complete intermediate school,(DK),Student,Male
1488,1488,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,(DK),Student,Male
1489,1489,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1490,1490,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,19,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1491,1491,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,7,Didn't complete secondary school,(DK),Student,Male
1492,1492,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Accompanied interview,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,9,Some university (didn't graduated),(DK),Student,Male
1493,1493,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1494,1494,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,(DK),Student,Male
1495,1495,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,10,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1496,1496,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,25,Married,Yes,2,4,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
1497,1497,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,6,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Female
1498,1498,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,3,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
1499,1499,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,9,Completed intermediate school,"Less than 20,000 YER",Student,Female
1500,1500,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,22,"Single, didn't not get married before",nan,nan,14,Didn't complete elementary school,"20,000 YER- 39,000 YER",Housewife,Female

In [66]:
question_columns = [col.strip() for col in df.columns if col.startswith(('Q'))]
demographic_columns = [col.strip() for col in df.columns if col.startswith(('S'))]
demographic_columns

['S1: How old are you',
 'S2: What is your marital status?',
 'S3: Do you have any children?',
 'S4: (If "yes"), How many?',
 'S5: Including you, how many people, children, above and under 15 live in this household?',
 'S6: What is the highest education level you completed?',
 'S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?',
 'S8: What is your job status today?',
 'S11: Gender of respondent']

In [192]:
df_ = df.filter(items=question_columns)
df_['governorate'] = df['M2: Governorate']
df_['district'] = df['M3: District']
df_['urbanity'] = df['M7: Urbanity']
df_['household_monthly_income'] = df['S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?']
df_['age'] = df['S1: How old are you']
df_['marital_status'] = df['S2: What is your marital status?'].apply(lambda x: x.split(', ')[0])
df_['have_children'] = df['S3: Do you have any children?']
df_['job_status'] = df['S8: What is your job status today?'].apply(lambda x: x.replace('Unemployed, looking for job', 'Unemployed').replace('Works in his/her own business', 'Self-employed'))
df_['gender'] = df['S11: Gender of respondent']

df_.head()

,Q1: First I would like to ask you about your current situation / family situation. How would you rate it on a scale from 1 to 5?,"Q2: In general, what do you think about the current situation in Yemen, is it going in the right direction or in the wrong direction?",Q3: What is your status:,Q3x: Other,"Q4_1: What are the reasons you had to stop going to school, university, vocational training or lost your job? First answer",Q4_1_X :Other,"Q4_2: What are the reasons you had to stop going to school, university, vocational training or lost your job? Second answer",Q4_2_X :Other,Q5: How much time do you spend at school/university/work/vocational training?,Q6: How close is the school/university/work/vocational training you attend to your house?,...,Q61_3_X: Other,governorate,district,urbanity,household_monthly_income,age,marital_status,have_children,job_status,gender
1,Neither bad nor good,In a very bad direction,School student,nan,nan,nan,nan,nan,5-8 hours,0-1 km,...,nan,Ibb,Al-Sabrah,Rural,"20,000 YER- 39,000 YER",17,Single,nan,Student,Male
2,Its very bad,"3.Not in the right direction, not in the wrong...",School student,nan,nan,nan,nan,nan,1-4 hours,0-1 km,...,nan,Ibb,Al-Makhader,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Male
3,Its very bad,In a very bad direction,I am a housewife,nan,nan,nan,nan,nan,nan,nan,...,nan,Abyan,Khanfar,Rural,"Less than 20,000 YER",25,Married,Yes,Housewife,Female
4,Neither bad nor good,"3.Not in the right direction, not in the wrong...",I am a housewife,nan,nan,nan,nan,nan,nan,nan,...,nan,Shabwah,Jardaan,Rural,"60,000 YER - 79,000 YER",19,Married,No,Housewife,Female
5,Its somewhat good,In a very bad direction,School student,nan,nan,nan,nan,nan,1-4 hours,0-1 km,...,nan,ad-Dali,Qatabah,Rural,"60,000 YER - 79,000 YER",18,Single,nan,Student,Male

In [245]:
df_a_list = []
for q in question_columns:
    df_a = pd.DataFrame()
    
    
    
    q_ = unidecode.unidecode(q)
    qID = q_.split(':')[0]
    q_ = q_.split(':')[1].strip()
    
    
  
    if q_ != 'Other':
        df_a['governorate'] = df_['governorate']
        df_a['district'] = df_['district']
        df_a['qID'] = qID
        df_a['question_raw'] = q_
        df_a['answer_raw'] = df_[q]
        df_a['urbanity'] = df_['urbanity']
        df_a['household_monthly_income'] = df_['household_monthly_income']
        df_a['age'] = df_['age']
        df_a['marital_status'] = df_['marital_status']
        df_a['have_children'] = df_['have_children']
        df_a['job_status'] = df_['job_status']
        df_a['gender'] = df_['gender']
    
    
    

    df_a_list.append(df_a)

df_formatted = pd.concat(df_a_list)


df_formatted.head()

,governorate,district,qID,question_raw,answer_raw,urbanity,household_monthly_income,age,marital_status,have_children,job_status,gender
1,Ibb,Al-Sabrah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"20,000 YER- 39,000 YER",17,Single,nan,Student,Male
2,Ibb,Al-Makhader,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Male
3,Abyan,Khanfar,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"Less than 20,000 YER",25,Married,Yes,Housewife,Female
4,Shabwah,Jardaan,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"60,000 YER - 79,000 YER",19,Married,No,Housewife,Female
5,ad-Dali,Qatabah,Q1,First I would like to ask you about your curre...,Its somewhat good,Rural,"60,000 YER - 79,000 YER",18,Single,nan,Student,Male

In [263]:
# df['avg_result'] = df.groupby(['a','b'])['result'].transform('mean')

df_formatted['answer_count'] = df_formatted.groupby(['governorate', 'question_raw', 'answer_raw']).transform('count')
df_formatted['answer_total'] = df_formatted.groupby(['governorate', 'question_raw']).transform('count')
df_formatted['answer_pct'] = (df_formatted['answer_count'] / df_formatted['answer_total'])*100

df_formatted
# df_formatted.sort_values(['district', 'qID'])

,governorate,district,qID,question_raw,answer_raw,urbanity,household_monthly_income,age,marital_status,have_children,job_status,gender,answer_count,answer_total
1,Ibb,Al-Sabrah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"20,000 YER- 39,000 YER",17,Single,nan,Student,Male,61,170
2,Ibb,Al-Makhader,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Male,53,170
3,Abyan,Khanfar,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"Less than 20,000 YER",25,Married,Yes,Housewife,Female,13,30
4,Shabwah,Jardaan,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"60,000 YER - 79,000 YER",19,Married,No,Housewife,Female,16,40
5,ad-Dali,Qatabah,Q1,First I would like to ask you about your curre...,Its somewhat good,Rural,"60,000 YER - 79,000 YER",18,Single,nan,Student,Male,9,40
6,Hadhramawt,Al-Mukala City,Q1,First I would like to ask you about your curre...,Neither bad nor good,Urban,(DK),16,Single,nan,Student,Female,17,80
7,Ibb,Yarim,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"20,000 YER- 39,000 YER",24,Married,Yes,Housewife,Female,46,170
8,Ibb,Al-Sabrah,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"20,000 YER- 39,000 YER",25,Divorced,Yes,Self-employed,Female,46,170
9,ad-Dali,Al-Dhale,Q1,First I would like to ask you about your curre...,Its very bad,Urban,"Less than 20,000 YER",16,Single,nan,Student,Male,7,40
10,ad-Dali,Qatabah,Q1,First I would like to ask you about your curre...,Its somewhat good,Rural,"20,000 YER- 39,000 YER",20,Single,nan,Unemployed,Male,9,40
11,Ibb,Al-Sabrah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"40,000 YER - 59,000 YER",25,Widow,Yes,Housewife,Female,61,170
12,Ibb,Al-Shaer,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"40,000 YER - 59,000 YER",21,Single,nan,Housewife,Female,46,170
13,Ibb,Thee Al-Sufal,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"60,000 YER - 79,000 YER",17,Single,nan,Student,Female,61,170
14,Ibb,Al-Qafr,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"40,000 YER - 59,000 YER",25,Married,Yes,Housewife,Female,53,170
15,Ibb,Yarim,Q1,First I would like to ask you about your curre...,It is very good,Rural,"60,000 YER - 79,000 YER",24,Single,nan,Student,Male,7,170
16,Ibb,Al-Naderah,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"20,000 YER- 39,000 YER",22,Single,nan,Housewife,Female,46,170
17,Ibb,Jeblah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,"60,000 YER - 79,000 YER",22,Married,Yes,Housewife,Female,61,170
18,Ibb,Thee Al-Sufal,Q1,First I would like to ask you about your curre...,Its very bad,Urban,"60,000 YER - 79,000 YER",20,Single,nan,Student,Female,53,170
19,Ibb,Al-Seyanni,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"40,000 YER - 59,000 YER",18,Single,nan,Housewife,Female,46,170
20,Ibb,Mutheikherah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Urban,"40,000 YER - 59,000 YER",23,Married,Yes,Housewife,Female,61,170
21,ad-Dali,Damt,Q1,First I would like to ask you about your curre...,Neither bad nor good,Urban,"Less than 20,000 YER",22,Married,Yes,Housewife,Female,13,40
22,Ibb,Hobeish,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"20,000 YER- 39,000 YER",20,Single,nan,Housewife,Female,46,170
23,Ibb,Al-Seyanni,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"Less than 20,000 YER",15,Single,nan,Student,Male,53,170
24,Ibb,Hazm Al-Odein,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"40,000 YER - 59,000 YER",24,Widow,Yes,Self-employed,Female,46,170
25,Ibb,Al-Odein,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"40,000 YER - 59,000 YER",25,Married,No,Housewife,Female,53,170
26,ad-Dali,Damt,Q1,First I would like to ask you about your curre...,Neither bad nor good,Urban,"20,000 YER- 39,000 YER",21,Single,nan,Student,Female,13,40
27,Hajja,Najrah,Q1,First I would like to ask you about your curre...,Its somewhat bad,Rural,"40,000 YER - 59,000 YER",17,Single,nan,Student,Male,31,120
28,ad-Dali,Damt,Q1,First I would like to ask you about your curre...,Its very bad,Urban,"Less than 20,000 YER",18,Single,nan,Unemployed,Male,7,40
29,Ibb,Thee Al-Sufal,Q1,First I would like to ask you about your curre...,Its very bad,Urban,"40,000 YER - 59,000 YER",25,Married,Yes,Housewife,Female,53,170
30,Ibb,Thee Al-Sufal,Q1,First I would like to ask you about your curre...,Its very bad,Rural,"40,000 YER - 59,000 YER",23,Single,nan,Housewife,Female,53,170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),19,Single,nan,Student,Male,30,30
1472,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"Less than 20,000 YER",25,Married,Yes,Unemployed,Male,30,30
1473,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",25,Married,Yes,Full time employee,Male,30,30
1474,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),23,Single,nan,Student,Male,30,30
1475,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),20,Single,nan,Student,Male,30,30
1476,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",24,Married,Yes,Housewife,Female,30,30
1477,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",15,Single,nan,Student,Female,30,30
1478,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"Less than 20,000 YER",23,Married,Yes,Housewife,Female,30,30
1479,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"Less than 20,000 YER",17,Single,nan,Student,Female,30,30
1480,Rayma,Al-Jabeen,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"Less than 20,000 YER",16,Single,nan,Housewife,Female,30,30
1481,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"40,000 YER - 59,000 YER",25,Single,nan,Housewife,Female,30,30
1482,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"40,000 YER - 59,000 YER",17,Single,nan,Student,Female,30,30
1483,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",20,Single,nan,Housewife,Female,30,30
1484,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Female,30,30
1485,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",15,Single,nan,Student,Female,30,30
1486,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",25,Single,nan,Full time employee,Male,30,30
1487,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),16,Single,nan,Student,Male,30,30
1488,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),15,Single,nan,Student,Male,30,30
1489,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Male,30,30
1490,Rayma,Al-Salfyah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",19,Single,nan,Student,Male,30,30
1491,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),18,Single,nan,Student,Male,30,30
1492,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),23,Single,nan,Student,Male,30,30
1493,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",18,Single,nan,Student,Male,30,30
1494,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,(DK),20,Single,nan,Student,Male,30,30
1495,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",20,Single,nan,Student,Male,30,30
1496,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"Less than 20,000 YER",25,Married,Yes,Housewife,Female,30,30
1497,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",16,Single,nan,Student,Female,30,30
1498,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"Less than 20,000 YER",23,Single,nan,Housewife,Female,30,30
1499,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"Less than 20,000 YER",23,Single,nan,Student,Female,30,30
1500,Rayma,Kasmah,Q61_3,What are the Three Radio stations that you mos...,nan,Rural,"20,000 YER- 39,000 YER",22,Single,nan,Housewife,Female,30,30

In [197]:
xls = pd.ExcelFile('tagged.xlsx')
tag_questions = pd.read_excel(xls, 'tag_questions')
rewrite_questions = pd.read_excel(xls, 'rewrite_questions')
rank_and_rewrite_answers = pd.read_excel(xls, 'rank_and_rewrite_answers')


# questions = tag_questions.merge(rewrite_questions, on = ['question_raw', 'tag'],how = 'outer')
# questions


# with_tagged_questions = questions.merge(df_formatted, on = ['question_raw'], how = 'outer')


# with_new_answers = rank_and_rewrite_answers.merge(with_tagged_questions, on = ['question_raw', 'answer_raw'], how = 'outer')

# with_new_answers = with_new_answers[['question_raw', 'question_en', 'answer_raw', 'answer_en', 'rank', 'governorate', 'district', 'urbanity', 'gender', 'marital_status', 'job_status']]
# with_new_answers

,qID_x,question_raw,tag,sub_tag,qID_y,question_en,question_ar,keep?
0,q1,First I would like to ask you about your curre...,safety,NaN,q1,How would you rate you/your family's current s...,NaN,y
1,q2,"In general, what do you think about the curren...",safety,NaN,q2,Is the situation in Yemen heading in the right...,NaN,y
2,q3,What is your status,daily life,NaN,q3,What is your employment status?,NaN,y
3,q4,What are the reasons you had to stop going to ...,education,NaN,q4,"Why did you stop going to school, university, ...",NaN,n
4,q5,What are the reasons you had to stop going to ...,education,NaN,q5,"Why did you stop going to school, university, ...",NaN,n
5,q6,How much time do you spend at school/universit...,education,NaN,q6,"How much time per day do you spend at school, ...",NaN,y
6,q7,How close is the school/university/work/vocati...,education,NaN,q7,"How close to your house is the school, univers...",NaN,y
7,q8,How do you get to your school/university/work/...,education,NaN,q8,"How do you get to your school, university, wor...",NaN,y
8,q9,In what physical condition is your school/univ...,education,NaN,q9,"What physical condition is your school, univer...",NaN,y
9,q10,"On a scale ranging from 1 to 5 in which ""1"" me...",education,NaN,q10,"How valued are you by your teachers, bosses, a...",NaN,y
10,q11,"On a scale ranging from 1 to 5 in which ""1"" me...",education,NaN,q11,"Has your school, university, work or vocationa...",NaN,y
11,q12,Please indicate whether they are provided at y...,education,NaN,q12,"Are women's bathrooms provided at your school,...",NaN,y
12,q13,Please indicate whether you think it is necess...,education,NaN,q13,Do you think women's bathrooms are necessary?,NaN,n
13,q14,Please indicate whether they are provided at y...,education,NaN,q14,"Are men's bathrooms provided at your school, u...",NaN,y
14,q15,Please indicate whether you think it is necess...,education,NaN,q15,Do you think men's bathrooms are necessary?,NaN,n
15,q16,Please indicate whether they are provided at y...,education,NaN,q16,"Is there a library at your school, university,...",NaN,y
16,q17,Please indicate whether you think it is necess...,education,NaN,q17,Do you think libraries are necessary?,NaN,n
17,q18,Please indicate whether they are provided at y...,education,NaN,q18,"Is internet access provided at your school, un...",NaN,y
18,q19,Please indicate whether you think it is necess...,education,NaN,q19,Do you think internet access is necessary?,NaN,n
19,q20,How much time do you often spend at home durin...,daily life,NaN,q20,"On average, how much time do you spend at home...",NaN,y
20,q21,"Since the beginning of the war in March 2015, ...",daily life,NaN,q21,"Since the war began in March 2015, do you spen...",NaN,y
21,q22,Why do spend more time at home?,daily life,NaN,q22,If you spend more time at home since the war b...,NaN,y
22,q23,When you think about the extra time that you h...,daily life,NaN,q23,What do you do during the extra time you spend...,NaN,y
23,q24,What do you do when you are outside of your ho...,daily life,NaN,q24,"Outside the home, what do you enjoy doing most...",NaN,y
24,q25,What do you do when you are outside of your ho...,daily life,NaN,q25,What do you do in your free time when you are ...,NaN,n
25,q26,What do you do when you are outside of your ho...,daily life,NaN,q26,What do you do in your free time when you are ...,NaN,n
26,q27,Is there any infrastructure in your vicinity t...,daily life,NaN,q27,Are there any youth activities (such as youth ...,NaN,y
27,q28,What kind of infrastructure is in your vicinit...,daily life,NaN,q28,What kinds of facilities are there in your are...,NaN,n
28,q29,What kind of infrastructure is in your vicinit...,daily life,NaN,q29,What kinds of facilities are there in your are...,NaN,n
29,q30,What kind of infrastructure is in your vicinit...,daily life,NaN,q30,What kinds of facilities are there in your are...,NaN,n
...,...,...,...,...,...,...,...,...
126,q127,Where do you use the internet? At the institute,daily life,NaN,q127,I use the internet at the institute where I study,NaN,n
127,q128,Where do you use the internet? At School,daily life,NaN,q128,I use the internet at school,NaN,n
128,q129,Where do you use the internet? At Work,daily life,NaN,q129,I use the internet at work,NaN,n
129,q130,Where do you use the internet? Other,daily life,NaN,q130,I use the internet somewhere else,NaN,n
130,q131,Where do you use the internet? Other Specify;,daily life,NaN,q131,I use the internet at this/these place/s:,NaN,n
131,q132,Where do you use the internet? DK,daily life,NaN,q132,I use the internet ... (don't know),NaN,n
132,q133,Where do you use the internet? RF,daily life,NaN,q133,I use the internet ... (refuse to answer),NaN,n
133,q134,Do you have a facebook account?,daily life,NaN,q134,Do you have a Facebook account?,NaN,n
134,q135,How often do you use social media?,daily life,NaN,q135,How often do you use social media?,NaN,y
135,q136,I use social media to inform myself about the ...,daily life,NaN,q136,I use social media to stay up-to-date with news,NaN,n
136,q137,I use social media to stay in contact with my ...,daily life,NaN,q137,I use social media to stay in contact with fri...,NaN,n
137,q138,I use social media to discuss politics with my...,daily life,NaN,q138,I use social media to discuss politics with my...,NaN,n
138,q139,I use social media to follow Yemeni politicians,daily life,NaN,q139,I use social media to follow Yemeni politicians,NaN,n
139,q140,I use social media to let Yemeni politicians u...,daily life,NaN,q140,I use social media to tell Yemeni politicians ...,NaN,n
140,q141,I use social media to follow tribal leaders,daily life,NaN,q141,I use social media to follow tribal leaders,NaN,n
141,q142,I use social media to let tribal leaders under...,daily life,NaN,q142,I use social media to tell tribal leaders abou...,NaN,n
142,q143,I use social media for spreading religious mes...,daily life,NaN,q143,I use social media to spread religious message...,NaN,n
143,q144,I use social media to follow religious figures...,daily life,NaN,q144,I use social media to follow religious figures...,NaN,n
144,q145,How often do you use TV,daily life,NaN,q145,How often do you watch TV?,NaN,y
145,q146,How often do you use Radio,daily life,NaN,q146,How often do you listen to the radio?,NaN,y
146,q147,How often do you use Newspaper,daily life,NaN,q147,How often do you read the newspaper?,NaN,y
147,q148,"Compare to the period before war, do you use T...",daily life,NaN,q148,Do you watch TV more or less frequently these ...,NaN,y
148,q149,"Compare to the period before war, do you use R...",daily life,NaN,q149,Do you listen to the radio more or less freque...,NaN,y
149,q150,"Compare to the period before war, do you use N...",daily life,NaN,q150,Do you read newspapers more or less frequently...,NaN,y
150,q151,What are the Three TV stations that you most w...,daily life,NaN,q151,Which three TV stations do you watch the most?...,NaN,n
151,q152,What are the Three TV stations that you most w...,daily life,NaN,q152,Which three TV stations do you watch the most?...,NaN,n
152,q153,What are the Three TV stations that you most w...,daily life,NaN,q153,Which three TV stations do you watch the most?...,NaN,n
153,q154,What are the Three Radio stations that you mos...,daily life,NaN,q154,Which three radio stations do you listen to th...,NaN,n
154,q155,What are the Three Radio stations that you mos...,daily life,NaN,q155,Which three radio stations do you listen to th...,NaN,n
155,q156,What are the Three Radio stations that you mos...,daily life,NaN,q156,Which three radio stations do you listen to th...,NaN,n