In [1]:
import xlrd
import pandas as pd
import numpy as np
import json
import unidecode

/usr/local/Cellar/python/3.6.5/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.read_excel('input/youth_survey_raw.xlsx')

# get question ids from columns
question_ids = [ c for c in df.columns if 'Q' in c ]

# copy row 0 to column names
df.columns = df.iloc[0]

# delete row 0
df = df.drop(0, axis=0)
df = df.applymap(str)

,M1: Questionnaire No,Project No,Project Name,M2: Governorate,M3: District,M7: Urbanity,M8: Date of interview,M8a: Day of interview,M9: Interview Validation,M11b: Date of Auditing,...,Q61_3_X: Other,S1: How old are you,S2: What is your marital status?,S3: Do you have any children?,"S4: (If ""yes""), How many?","S5: Including you, how many people, children, above and under 15 live in this household?",S6: What is the highest education level you completed?,"S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?",S8: What is your job status today?,S11: Gender of respondent
1,79,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
2,101,132,Youth Survey,Ibb,Al-Makhader,Rural,2017-05-12 00:00:00,Fri,Accompanied interview,2017-05-12 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,6,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Male
3,172,132,Youth Survey,Abyan,Khanfar,Rural,2017-05-10 00:00:00,Wed,Re-contacted by person,2017-05-10 00:00:00,...,nan,25,Married,Yes,4,6,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
4,1107,132,Youth Survey,Shabwah,Jardaan,Rural,2017-05-23 00:00:00,Tue,Not validated,2017-05-23 00:00:00,...,nan,19,Married,No,nan,9,Completed secondary school,"60,000 YER - 79,000 YER",Housewife,Female
5,1439,132,Youth Survey,ad-Dali,Qatabah,Rural,2017-05-10 00:00:00,Wed,Not validated,2017-05-10 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,13,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Male
6,917,132,Youth Survey,Hadhramawt,Al-Mukala City,Urban,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,4,Didn't complete secondary school,(DK),Student,Female
7,170,132,Youth Survey,Ibb,Yarim,Rural,2017-05-17 00:00:00,Wed,Not validated,2017-05-17 00:00:00,...,nan,24,Married,Yes,1,3,Completed elementary school,"20,000 YER- 39,000 YER",Housewife,Female
8,74,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,25,Divorced,Yes,4,5,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Works in his/her own business,Female
9,1462,132,Youth Survey,ad-Dali,Al-Dhale,Urban,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,5,Didn't complete secondary school,"Less than 20,000 YER",Student,Male
10,1436,132,Youth Survey,ad-Dali,Qatabah,Rural,2017-05-10 00:00:00,Wed,Re-contacted by person,2017-05-10 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,8,Completed secondary school,"20,000 YER- 39,000 YER","Unemployed, looking for job",Male
11,72,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,25,Widow,Yes,2,3,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
12,129,132,Youth Survey,Ibb,Al-Shaer,Rural,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,21,"Single, didn't not get married before",nan,nan,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
13,33,132,Youth Survey,Ibb,Thee Al-Sufal,Rural,2017-05-08 00:00:00,Mon,Not validated,2017-05-08 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Female
14,152,132,Youth Survey,Ibb,Al-Qafr,Rural,2017-05-17 00:00:00,Wed,Not validated,2017-05-17 00:00:00,...,nan,25,Married,Yes,3,5,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
15,142,132,Youth Survey,Ibb,Yarim,Rural,2017-05-16 00:00:00,Tue,Accompanied interview,2017-05-16 00:00:00,...,nan,24,"Single, didn't not get married before",nan,nan,8,Some university (didn't graduated),"60,000 YER - 79,000 YER",Student,Male
16,134,132,Youth Survey,Ibb,Al-Naderah,Rural,2017-05-15 00:00:00,Mon,Not validated,2017-05-15 00:00:00,...,nan,22,"Single, didn't not get married before",nan,nan,12,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Housewife,Female
17,94,132,Youth Survey,Ibb,Jeblah,Rural,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,22,Married,Yes,2,12,Completed intermediate school,"60,000 YER - 79,000 YER",Housewife,Female
18,29,132,Youth Survey,Ibb,Thee Al-Sufal,Urban,2017-05-07 00:00:00,Sun,Not validated,2017-05-07 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Female
19,12,132,Youth Survey,Ibb,Al-Seyanni,Rural,2017-05-06 00:00:00,Sat,Not validated,2017-05-06 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,"40,000 YER - 59,000 YER",Housewife,Female
20,48,132,Youth Survey,Ibb,Mutheikherah,Urban,2017-05-08 00:00:00,Mon,Not validated,2017-05-08 00:00:00,...,nan,23,Married,Yes,1,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
21,1442,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,22,Married,Yes,1,3,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
22,6,132,Youth Survey,Ibb,Hobeish,Rural,2017-05-05 00:00:00,Fri,Not validated,2017-05-05 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,7,Completed elementary school,"20,000 YER- 39,000 YER",Housewife,Female
23,17,132,Youth Survey,Ibb,Al-Seyanni,Rural,2017-05-06 00:00:00,Sat,Not validated,2017-05-06 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,4,Didn't complete intermediate school,"Less than 20,000 YER",Student,Male
24,66,132,Youth Survey,Ibb,Hazm Al-Odein,Rural,2017-05-09 00:00:00,Tue,Not validated,2017-05-09 00:00:00,...,nan,24,Widow,Yes,5,6,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Works in his/her own business,Female
25,54,132,Youth Survey,Ibb,Al-Odein,Rural,2017-05-08 00:00:00,Mon,Accompanied interview,2017-05-08 00:00:00,...,nan,25,Married,No,nan,2,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
26,1441,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Re-contacted by person,2017-05-12 00:00:00,...,nan,21,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Female
27,644,132,Youth Survey,Hajja,Najrah,Rural,2017-05-12 00:00:00,Fri,Not validated,2017-05-14 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,9,Didn't complete secondary school,"40,000 YER - 59,000 YER",Student,Male
28,1450,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,11,Didn't complete elementary school,"Less than 20,000 YER","Unemployed, looking for job",Male
29,27,132,Youth Survey,Ibb,Thee Al-Sufal,Urban,2017-05-07 00:00:00,Sun,Not validated,2017-05-07 00:00:00,...,nan,25,Married,Yes,3,6,Didn't complete elementary school,"40,000 YER - 59,000 YER",Housewife,Female
30,34,132,Youth Survey,Ibb,Thee Al-Sufal,Rural,2017-05-08 00:00:00,Mon,Accompanied interview,2017-05-08 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,1471,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Accompanied interview,2017-05-18 00:00:00,...,nan,19,"Single, didn't not get married before",nan,nan,9,Didn't complete secondary school,(DK),Student,Male
1472,1472,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,25,Married,Yes,1,7,Didn't complete secondary school,"Less than 20,000 YER","Unemployed, looking for job",Male
1473,1473,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,25,Married,Yes,2,4,Completed secondary school,"20,000 YER- 39,000 YER",Full time employee,Male
1474,1474,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,4,Didn't complete secondary school,(DK),Student,Male
1475,1475,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,(DK),Student,Male
1476,1476,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Re-contacted by person,2017-05-18 00:00:00,...,nan,24,Married,Yes,6,12,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Housewife,Female
1477,1477,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Re-contacted by person,2017-05-18 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,11,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Female
1478,1478,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,23,Married,Yes,2,8,Didn't complete elementary school,"Less than 20,000 YER",Housewife,Female
1479,1479,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"Less than 20,000 YER",Student,Female
1480,1480,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,9,Didn't complete elementary school,"Less than 20,000 YER",Housewife,Female
1481,1481,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,25,"Single, didn't not get married before",nan,nan,8,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
1482,1482,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,12,Didn't complete secondary school,"40,000 YER - 59,000 YER",Student,Female
1483,1483,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,9,Didn't complete elementary school,"20,000 YER- 39,000 YER",Housewife,Female
1484,1484,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,11,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Female
1485,1485,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,"20,000 YER- 39,000 YER",Student,Female
1486,1486,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,25,"Single, didn't not get married before",nan,nan,13,Completed secondary school,"20,000 YER- 39,000 YER",Full time employee,Male
1487,1487,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,7,Didn't complete intermediate school,(DK),Student,Male
1488,1488,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,(DK),Student,Male
1489,1489,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1490,1490,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,19,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1491,1491,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,7,Didn't complete secondary school,(DK),Student,Male
1492,1492,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Accompanied interview,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,9,Some university (didn't graduated),(DK),Student,Male
1493,1493,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1494,1494,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,(DK),Student,Male
1495,1495,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,10,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1496,1496,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,25,Married,Yes,2,4,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
1497,1497,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,6,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Female
1498,1498,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,3,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
1499,1499,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,9,Completed intermediate school,"Less than 20,000 YER",Student,Female
1500,1500,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,22,"Single, didn't not get married before",nan,nan,14,Didn't complete elementary school,"20,000 YER- 39,000 YER",Housewife,Female

In [66]:
question_columns = [col.strip() for col in df.columns if col.startswith(('Q'))]
demographic_columns = [col.strip() for col in df.columns if col.startswith(('S'))]
demographic_columns

['S1: How old are you',
 'S2: What is your marital status?',
 'S3: Do you have any children?',
 'S4: (If "yes"), How many?',
 'S5: Including you, how many people, children, above and under 15 live in this household?',
 'S6: What is the highest education level you completed?',
 'S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?',
 'S8: What is your job status today?',
 'S11: Gender of respondent']

In [134]:
df_ = df.filter(items=question_columns)
df_['governorate'] = df['M2: Governorate']
df_['district'] = df['District']
df_['urbanity'] = df['M7: Urbanity']
df_['age'] = df['S1: How old are you']
df_['marital_status'] = df['S2: What is your marital status?'].apply(lambda x: x.split(', ')[0])
df_['have_children'] = df['S3: Do you have any children?']
df_['job_status'] = df['S8: What is your job status today?'].apply(lambda x: x.replace('Unemployed, looking for job', 'Unemployed').replace('Works in his/her own business', 'Self-employed'))
df_['gender'] = df['S11: Gender of respondent']

df_.head()

,Q1: First I would like to ask you about your current situation / family situation. How would you rate it on a scale from 1 to 5?,"Q2: In general, what do you think about the current situation in Yemen, is it going in the right direction or in the wrong direction?",Q3: What is your status:,Q3x: Other,"Q4_1: What are the reasons you had to stop going to school, university, vocational training or lost your job? First answer",Q4_1_X :Other,"Q4_2: What are the reasons you had to stop going to school, university, vocational training or lost your job? Second answer",Q4_2_X :Other,Q5: How much time do you spend at school/university/work/vocational training?,Q6: How close is the school/university/work/vocational training you attend to your house?,...,Q61_2_X: Other,Q61_3: What are the Three Radio stations that you most listen? Third,Q61_3_X: Other,governorate,urbanity,age,marital_status,have_children,job_status,gender
1,Neither bad nor good,In a very bad direction,School student,nan,nan,nan,nan,nan,5-8 hours,0-1 km,...,nan,nan,nan,Ibb,Rural,17,Single,nan,Student,Male
2,It’s very bad,"3.Not in the right direction, not in the wrong...",School student,nan,nan,nan,nan,nan,1-4 hours,0-1 km,...,nan,nan,nan,Ibb,Rural,16,Single,nan,Student,Male
3,It’s very bad,In a very bad direction,I am a housewife,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,Abyan,Rural,25,Married,Yes,Housewife,Female
4,Neither bad nor good,"3.Not in the right direction, not in the wrong...",I am a housewife,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,Shabwah,Rural,19,Married,No,Housewife,Female
5,It’s somewhat good,In a very bad direction,School student,nan,nan,nan,nan,nan,1-4 hours,0-1 km,...,nan,nan,nan,ad-Dali,Rural,18,Single,nan,Student,Male

In [135]:
df_a_list = []
for q in question_columns:
    df_a = pd.DataFrame()
    
    
    
    q_ = unidecode.unidecode(q)
    qID = q_.split(':')[0]
    q_ = q_.split(':')[1].strip()
    
    
  
    if q_ != 'Other':
        df_a['governorate'] = df_['governorate']
        df_a['qID'] = qID
        df_a['question_raw'] = q_
        df_a['answer_raw'] = df_[q]
        df_a['urbanity'] = df_['urbanity']
        df_a['age'] = df_['age']
        df_a['marital_status'] = df_['marital_status']
        df_a['have_children'] = df_['have_children']
        df_a['job_status'] = df_['job_status']
        df_a['gender'] = df_['gender']
    
    
    

    df_a_list.append(df_a)

df_formatted = pd.concat(df_a_list)


df_formatted.head()

,governorate,qID,question_raw,answer_raw,urbanity,age,marital_status,have_children,job_status,gender
1,Ibb,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,17,Single,nan,Student,Male
2,Ibb,Q1,First I would like to ask you about your curre...,It’s very bad,Rural,16,Single,nan,Student,Male
3,Abyan,Q1,First I would like to ask you about your curre...,It’s very bad,Rural,25,Married,Yes,Housewife,Female
4,Shabwah,Q1,First I would like to ask you about your curre...,Neither bad nor good,Rural,19,Married,No,Housewife,Female
5,ad-Dali,Q1,First I would like to ask you about your curre...,It’s somewhat good,Rural,18,Single,nan,Student,Male

In [133]:
# governorate > question > answer
df_gov_q_a = df_formatted[['governorate', 'question_raw', 'answer_raw']]
df_gov_q_a['count'] = ''
df_gov_q_a = df_gov_q_a.groupby(['governorate', 'question_raw', 'answer_raw']).count().reset_index()
df_gov_q_a.sort_values(['governorate', 'question_raw'])

/Users/mcenaneyc/Desktop/ypc-data/env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,governorate,question_raw,answer_raw,count
0,Abyan,(If yes) How many times?,1,6
1,Abyan,(If yes) How many times?,2,5
2,Abyan,(If yes) How many times?,3,2
3,Abyan,(If yes) How many times?,4,1
4,Abyan,(If yes) How many times?,5,1
5,Abyan,(If yes) How many times?,6,1
6,Abyan,(If yes) How many times?,nan,14
7,Abyan,"According to your opinion, Are Political Parti...",Neither positive nor negative,1
8,Abyan,"According to your opinion, Are Political Parti...",Not active at all,3
9,Abyan,"According to your opinion, Are Political Parti...",nan,26
10,Abyan,"According to your opinion, Are Religious group...",Active in a negative way,2
11,Abyan,"According to your opinion, Are Religious group...",Active in a positive way,13
12,Abyan,"According to your opinion, Are Religious group...",nan,15
13,Abyan,"According to your opinion, Are Tribal leaders ...",Active in a negative way,2
14,Abyan,"According to your opinion, Are Tribal leaders ...",Active in a positive way,10
15,Abyan,"According to your opinion, Are Tribal leaders ...",Neither positive nor negative,2
16,Abyan,"According to your opinion, Are Tribal leaders ...",nan,16
17,Abyan,"According to your opinion, Are Youth groups ac...",Active in a negative way,3
18,Abyan,"According to your opinion, Are Youth groups ac...",Active in a positive way,1
19,Abyan,"According to your opinion, Are Youth groups ac...",nan,26
20,Abyan,"According to your opinion, Is Local Council a...",Active in a positive way,1
21,Abyan,"According to your opinion, Is Local Council a...",Neither positive nor negative,1
22,Abyan,"According to your opinion, Is Local Council a...",Not active at all,1
23,Abyan,"According to your opinion, Is Local Council a...",nan,27
24,Abyan,"According to your opinion, Is NGO/CSO active i...",Active in a negative way,2
25,Abyan,"According to your opinion, Is NGO/CSO active i...",Active in a positive way,4
26,Abyan,"According to your opinion, Is NGO/CSO active i...",Neither positive nor negative,4
27,Abyan,"According to your opinion, Is NGO/CSO active i...",Not active at all,2
28,Abyan,"According to your opinion, Is NGO/CSO active i...",nan,18
29,Abyan,"According to your opinion, Is Police active in...",Active in a negative way,1
...,...,...,...,...
12677,al-Mahweet,When you think about the extra time that you h...,I help my mother and father/ household chores,2
12678,al-Mahweet,When you think about the extra time that you h...,Other,1
12679,al-Mahweet,When you think about the extra time that you h...,nan,36
12680,al-Mahweet,Where do you use the internet? At School,nan,40
12681,al-Mahweet,Where do you use the internet? At University,nan,40
12682,al-Mahweet,Where do you use the internet? At Work,nan,40
12683,al-Mahweet,Where do you use the internet? At home,nan,40
12684,al-Mahweet,Where do you use the internet? At my friend's ...,nan,40
12685,al-Mahweet,Where do you use the internet? At the institute,nan,40
12686,al-Mahweet,Where do you use the internet? At the internet...,nan,40
12687,al-Mahweet,Where do you use the internet? DK,nan,40
12688,al-Mahweet,Where do you use the internet? On my phone,Yes,4
12689,al-Mahweet,Where do you use the internet? On my phone,nan,36
12690,al-Mahweet,Where do you use the internet? Other,nan,40
12691,al-Mahweet,Where do you use the internet? Other Specify;,nan,40
12692,al-Mahweet,Where do you use the internet? RF,nan,40
12693,al-Mahweet,Which organizations/entities provided you with...,(DK),1
12694,al-Mahweet,Which organizations/entities provided you with...,nan,39
12695,al-Mahweet,Which organizations/entities provided you with...,nan,40
12696,al-Mahweet,Which organizations/entities provided you with...,nan,40
12697,al-Mahweet,Who are the people you consider most to be in...,(DK),11
12698,al-Mahweet,Who are the people you consider most to be in...,Aqil,1
12699,al-Mahweet,Who are the people you consider most to be in...,Religious leader,2
12700,al-Mahweet,Who are the people you consider most to be in...,Sheikh,26
12701,al-Mahweet,Why do spend more time at home?,I lost my job,2
12702,al-Mahweet,Why do spend more time at home?,"My school/university was closed, I no longer g...",2
12703,al-Mahweet,Why do spend more time at home?,nan,36
12704,al-Mahweet,Would you like the state to be more or less pr...,(DK),12
12705,al-Mahweet,Would you like the state to be more or less pr...,More present,24
12706,al-Mahweet,Would you like the state to be more or less pr...,Stay the same,4