In [1]:
import xlrd
import pandas as pd
import numpy as np
import json
import unidecode

In [2]:
df = pd.read_excel('input/youth_survey_raw.xlsx')

# get question ids from columns
question_ids = [ c for c in df.columns if 'Q' in c ]

# copy row 0 to column names
df.columns = df.iloc[0]

# delete row 0
df = df.drop(0, axis=0)
df = df.applymap(str)

df

,M1: Questionnaire No,Project No,Project Name,M2: Governorate,M3: District,M7: Urbanity,M8: Date of interview,M8a: Day of interview,M9: Interview Validation,M11b: Date of Auditing,...,Q61_3_X: Other,S1: How old are you,S2: What is your marital status?,S3: Do you have any children?,"S4: (If ""yes""), How many?","S5: Including you, how many people, children, above and under 15 live in this household?",S6: What is the highest education level you completed?,"S7: Which one of the folowing income is close to your household monthly income, including all household members incomes live in or out this house?",S8: What is your job status today?,S11: Gender of respondent
1,79,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
2,101,132,Youth Survey,Ibb,Al-Makhader,Rural,2017-05-12 00:00:00,Fri,Accompanied interview,2017-05-12 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,6,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Male
3,172,132,Youth Survey,Abyan,Khanfar,Rural,2017-05-10 00:00:00,Wed,Re-contacted by person,2017-05-10 00:00:00,...,nan,25,Married,Yes,4,6,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
4,1107,132,Youth Survey,Shabwah,Jardaan,Rural,2017-05-23 00:00:00,Tue,Not validated,2017-05-23 00:00:00,...,nan,19,Married,No,nan,9,Completed secondary school,"60,000 YER - 79,000 YER",Housewife,Female
5,1439,132,Youth Survey,ad-Dali,Qatabah,Rural,2017-05-10 00:00:00,Wed,Not validated,2017-05-10 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,13,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Male
6,917,132,Youth Survey,Hadhramawt,Al-Mukala City,Urban,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,4,Didn't complete secondary school,(DK),Student,Female
7,170,132,Youth Survey,Ibb,Yarim,Rural,2017-05-17 00:00:00,Wed,Not validated,2017-05-17 00:00:00,...,nan,24,Married,Yes,1,3,Completed elementary school,"20,000 YER- 39,000 YER",Housewife,Female
8,74,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,25,Divorced,Yes,4,5,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Works in his/her own business,Female
9,1462,132,Youth Survey,ad-Dali,Al-Dhale,Urban,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,5,Didn't complete secondary school,"Less than 20,000 YER",Student,Male
10,1436,132,Youth Survey,ad-Dali,Qatabah,Rural,2017-05-10 00:00:00,Wed,Re-contacted by person,2017-05-10 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,8,Completed secondary school,"20,000 YER- 39,000 YER","Unemployed, looking for job",Male
11,72,132,Youth Survey,Ibb,Al-Sabrah,Rural,2017-05-11 00:00:00,Thu,Not validated,2017-05-11 00:00:00,...,nan,25,Widow,Yes,2,3,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
12,129,132,Youth Survey,Ibb,Al-Shaer,Rural,2017-05-14 00:00:00,Sun,Not validated,2017-05-14 00:00:00,...,nan,21,"Single, didn't not get married before",nan,nan,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
13,33,132,Youth Survey,Ibb,Thee Al-Sufal,Rural,2017-05-08 00:00:00,Mon,Not validated,2017-05-08 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Female
14,152,132,Youth Survey,Ibb,Al-Qafr,Rural,2017-05-17 00:00:00,Wed,Not validated,2017-05-17 00:00:00,...,nan,25,Married,Yes,3,5,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
15,142,132,Youth Survey,Ibb,Yarim,Rural,2017-05-16 00:00:00,Tue,Accompanied interview,2017-05-16 00:00:00,...,nan,24,"Single, didn't not get married before",nan,nan,8,Some university (didn't graduated),"60,000 YER - 79,000 YER",Student,Male
16,134,132,Youth Survey,Ibb,Al-Naderah,Rural,2017-05-15 00:00:00,Mon,Not validated,2017-05-15 00:00:00,...,nan,22,"Single, didn't not get married before",nan,nan,12,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Housewife,Female
17,94,132,Youth Survey,Ibb,Jeblah,Rural,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,22,Married,Yes,2,12,Completed intermediate school,"60,000 YER - 79,000 YER",Housewife,Female
18,29,132,Youth Survey,Ibb,Thee Al-Sufal,Urban,2017-05-07 00:00:00,Sun,Not validated,2017-05-07 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"60,000 YER - 79,000 YER",Student,Female
19,12,132,Youth Survey,Ibb,Al-Seyanni,Rural,2017-05-06 00:00:00,Sat,Not validated,2017-05-06 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,"40,000 YER - 59,000 YER",Housewife,Female
20,48,132,Youth Survey,Ibb,Mutheikherah,Urban,2017-05-08 00:00:00,Mon,Not validated,2017-05-08 00:00:00,...,nan,23,Married,Yes,1,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
21,1442,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,22,Married,Yes,1,3,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
22,6,132,Youth Survey,Ibb,Hobeish,Rural,2017-05-05 00:00:00,Fri,Not validated,2017-05-05 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,7,Completed elementary school,"20,000 YER- 39,000 YER",Housewife,Female
23,17,132,Youth Survey,Ibb,Al-Seyanni,Rural,2017-05-06 00:00:00,Sat,Not validated,2017-05-06 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,4,Didn't complete intermediate school,"Less than 20,000 YER",Student,Male
24,66,132,Youth Survey,Ibb,Hazm Al-Odein,Rural,2017-05-09 00:00:00,Tue,Not validated,2017-05-09 00:00:00,...,nan,24,Widow,Yes,5,6,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Works in his/her own business,Female
25,54,132,Youth Survey,Ibb,Al-Odein,Rural,2017-05-08 00:00:00,Mon,Accompanied interview,2017-05-08 00:00:00,...,nan,25,Married,No,nan,2,Illiterate (Can't read and write),"40,000 YER - 59,000 YER",Housewife,Female
26,1441,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Re-contacted by person,2017-05-12 00:00:00,...,nan,21,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Female
27,644,132,Youth Survey,Hajja,Najrah,Rural,2017-05-12 00:00:00,Fri,Not validated,2017-05-14 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,9,Didn't complete secondary school,"40,000 YER - 59,000 YER",Student,Male
28,1450,132,Youth Survey,ad-Dali,Damt,Urban,2017-05-12 00:00:00,Fri,Not validated,2017-05-12 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,11,Didn't complete elementary school,"Less than 20,000 YER","Unemployed, looking for job",Male
29,27,132,Youth Survey,Ibb,Thee Al-Sufal,Urban,2017-05-07 00:00:00,Sun,Not validated,2017-05-07 00:00:00,...,nan,25,Married,Yes,3,6,Didn't complete elementary school,"40,000 YER - 59,000 YER",Housewife,Female
30,34,132,Youth Survey,Ibb,Thee Al-Sufal,Rural,2017-05-08 00:00:00,Mon,Accompanied interview,2017-05-08 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,6,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,1471,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Accompanied interview,2017-05-18 00:00:00,...,nan,19,"Single, didn't not get married before",nan,nan,9,Didn't complete secondary school,(DK),Student,Male
1472,1472,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,25,Married,Yes,1,7,Didn't complete secondary school,"Less than 20,000 YER","Unemployed, looking for job",Male
1473,1473,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,25,Married,Yes,2,4,Completed secondary school,"20,000 YER- 39,000 YER",Full time employee,Male
1474,1474,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,4,Didn't complete secondary school,(DK),Student,Male
1475,1475,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,(DK),Student,Male
1476,1476,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Re-contacted by person,2017-05-18 00:00:00,...,nan,24,Married,Yes,6,12,Illiterate (Can't read and write),"20,000 YER- 39,000 YER",Housewife,Female
1477,1477,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Re-contacted by person,2017-05-18 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,11,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Female
1478,1478,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,23,Married,Yes,2,8,Didn't complete elementary school,"Less than 20,000 YER",Housewife,Female
1479,1479,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"Less than 20,000 YER",Student,Female
1480,1480,132,Youth Survey,Rayma,Al-Jabeen,Rural,2017-05-18 00:00:00,Thu,Not validated,2017-05-18 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,9,Didn't complete elementary school,"Less than 20,000 YER",Housewife,Female
1481,1481,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,25,"Single, didn't not get married before",nan,nan,8,Completed secondary school,"40,000 YER - 59,000 YER",Housewife,Female
1482,1482,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,17,"Single, didn't not get married before",nan,nan,12,Didn't complete secondary school,"40,000 YER - 59,000 YER",Student,Female
1483,1483,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,9,Didn't complete elementary school,"20,000 YER- 39,000 YER",Housewife,Female
1484,1484,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,11,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Female
1485,1485,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,"20,000 YER- 39,000 YER",Student,Female
1486,1486,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,25,"Single, didn't not get married before",nan,nan,13,Completed secondary school,"20,000 YER- 39,000 YER",Full time employee,Male
1487,1487,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,7,Didn't complete intermediate school,(DK),Student,Male
1488,1488,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,15,"Single, didn't not get married before",nan,nan,9,Didn't complete intermediate school,(DK),Student,Male
1489,1489,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1490,1490,132,Youth Survey,Rayma,Al-Salfyah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,19,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1491,1491,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,7,Didn't complete secondary school,(DK),Student,Male
1492,1492,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Accompanied interview,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,9,Some university (didn't graduated),(DK),Student,Male
1493,1493,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,18,"Single, didn't not get married before",nan,nan,6,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1494,1494,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,8,Didn't complete secondary school,(DK),Student,Male
1495,1495,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,20,"Single, didn't not get married before",nan,nan,10,Didn't complete secondary school,"20,000 YER- 39,000 YER",Student,Male
1496,1496,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,25,Married,Yes,2,4,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
1497,1497,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,16,"Single, didn't not get married before",nan,nan,6,Completed intermediate school,"20,000 YER- 39,000 YER",Student,Female
1498,1498,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Re-contacted by person,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,3,Illiterate (Can't read and write),"Less than 20,000 YER",Housewife,Female
1499,1499,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,23,"Single, didn't not get married before",nan,nan,9,Completed intermediate school,"Less than 20,000 YER",Student,Female
1500,1500,132,Youth Survey,Rayma,Kasmah,Rural,2017-05-19 00:00:00,Fri,Not validated,2017-05-19 00:00:00,...,nan,22,"Single, didn't not get married before",nan,nan,14,Didn't complete elementary school,"20,000 YER- 39,000 YER",Housewife,Female

In [3]:
# compile list of question_columns - could be neater!
question_columns = []

for c in df.columns:
    for q_id in question_ids:
        if q_id in c:
            question_columns.append(c)

In [64]:
df_rank = pd.DataFrame(columns=["question", "answer", "rank"])
df_tag = pd.DataFrame(columns=["question", "tag"])

q_rank_list = []
q_tag_list = []
a_list = []

for q in question_columns:
    unique, counts = np.unique(df[q].values, return_counts=True)
    
    if len(q.split(':')) > 1:
        q = q.split(':')[1].strip()
        q = unidecode.unidecode(q)
    
    if q != "Other":
        
        if q not in q_tag_list:
            q_tag_list.append(q)
        
        for a, c in zip(unique, counts):
            a = unidecode.unidecode(a.replace("(DK)", "Don't know")).replace("3.", "")
            if a != "nan":
                if a != "(RF)":

    #                 if len(q.split(':')) > 1:
    #                     q = q.split(':')[1].strip()

#                     if q != "Other":
                    if q not in q_rank_list:
                        q_rank_list.append(q)
            
                        a_list.append(a)
                
                        print ()
                        print (q)

df_rank["question"] = q_rank_list
df_rank["answer"] = a_list
df_tag["question"] = q_tag_list

df_rank = df_rank.fillna("")
df_tag = df_tag.fillna("")

df_question_rename = df_tag.rename(columns = {"question": "question", "tag": "question_display"})
df_answer_rename = df_rank.rename(columns = {"question": "question", "answer": "answer", "rank": "answer_display"})



writer = pd.ExcelWriter('ypc-tag-rank-rewrite.xlsx')
df_tag.to_excel(writer,'tag_questions', index=False)
df_question_rename.to_excel(writer,'rewrite_questions', index=False)
df_rank.to_excel(writer,'rank_answers', index=False)
df_answer_rename.to_excel(writer, 'rewrite_answers', index=False)
writer.save()

First I would like to ask you about your current situation / family situation. How would you rate it on a scale from 1 to 5?

In general, what do you think about the current situation in Yemen, is it going in the right direction or in the wrong direction?

What is your status

What are the reasons you had to stop going to school, university, vocational training or lost your job? First answer

What are the reasons you had to stop going to school, university, vocational training or lost your job? Second answer

How much time do you spend at school/university/work/vocational training?

How close is the school/university/work/vocational training you attend to your house?

How do you get to your school/university/work/vocational training?

In what physical condition is your school/university/work/vocational training?

On a scale ranging from 1 to 5 in which "1" means "not valued at all" and "5" means "very valued", how do evaluate how you feel treated by your teachers/bosses/professors?

On a scale ranging from 1 to 5 in which "1" means "not prepared at all" and "5" means "very prepared", how do evaluate how you feel in terms of how school/university/work/vocational training prepares you for a good future life?

Please indicate whether they are provided at your school/university/work place? Girls bathrooms

Please indicate whether you think it is necessary? Girls bathrooms

Please indicate whether they are provided at your school/university/work place? Boys bathrooms

Please indicate whether you think it is necessary? Boys bathrooms

Please indicate whether they are provided at your school/university/work place? Library

Please indicate whether you think it is necessary? Library

Please indicate whether they are provided at your school/university/work place? Internet

Please indicate whether you think it is necessary? Internet

How much time do you often spend at home during the daytime?

Since the beginning of the war in March 2015, do you spend more or less time at home during the daytime?

Why do spend more time at home?

When you think about the extra time that you have to spend at home since the beginning of the war, what do you do most in that time?

What do you do when you are outside of your home, but when you are not at work/school/university/training? First answer

What do you do when you are outside of your home, but when you are not at work/school/university/training? Second answer

What do you do when you are outside of your home, but when you are not at work/school/university/training? Third answer

Is there any infrastructure in your vicinity that provides activities for youth? Such as youth centers, billiard, playgrounds, soccer/ basketball fields?

What kind of infrastructure is in your vicinity that provides activities for youth? First answer

What kind of infrastructure is in your vicinity that provides activities for youth? Second answer

What kind of infrastructure is in your vicinity that provides activities for youth? Third answer

Is this infrastructure youth friendly and in a good condition?

Have you heard of Local Council being active in your area.

According to your opinion, Is Local Council  active in your area in a positive way, active in a negative way, neither positive nor negative, not active at all?

Have you heard of Political Parties being active in your area.

According to your opinion, Are Political Parties active in your area in a positive way, active in a negative way, neither positive nor negative, not active at all?

Have you heard of Police being active in your area.

According to your opinion, Is Police active in your area in a positive way, active in a negative way, neither positive nor negative, not active at all?

Have you heard of NGO/CSO being active in your area.

According to your opinion, Is NGO/CSO active in your area in a positive way, active in a negative way, neither positive nor negative, not active at all?

Have you heard of Tribal leaders being active in your area.

According to your opinion, Are Tribal leaders active in your area in a positive way, active in a negative way, neither positive nor negative, not active at all?

Have you heard of Religious groups being active in your area.

According to your opinion, Are Religious groups active in your area in a positive way, active in a negative way, neither positive nor negative, not active at all?

Have you heard of Youth groups being active in your area.

According to your opinion, Are Youth groups active in your area in a positive way, active in a negative way, neither positive nor negative, not active at all?

I will read a number of statements to you, please tell me how much you agree with them. I feel valued by my parents as a member of my family

I will read a number of statements to you, please tell me how much you agree with them. My parents understand my needs and try their best to satisfy them

I will read a number of statements to you, please tell me how much you agree with them. My parents give me the opportunity to communicate my needs to them

I will read a number of statements to you, please tell me how much you agree with them. My parents understand my problems and help me solve them

How would you describe the situation of your family since the beginning of the war in March 2015?

Please tell me if food is available or not for your family

Please tell me if water is available or not for your family

Please tell me if Adequate  shelter/housing is available or not for your family

Please tell me if Electricity is available or not for your family

Please tell me if Health care is available or not for your family

Thinking about the last year, have there been times when your family didn't have enough food for all household members?

Have your family received any assistances since the beginning of the war?

(If yes) How many times?

What kind of assistances have you received?

Which organizations/entities provided you with those assistances? First answer

Which organizations/entities provided you with those assistances? Second answer

Which organizations/entities provided you with those assistances? Third answer

How much sufficient were those assistances to meet your needs?

What are the most Three things that your family need? First

What are the most Three things that your family need? Second

What are the most Three things that your family need? Third

Who  are the people you consider most to be influential figures in your community?

Are you in direct personal contact with the leaders of your community?

How are you in direct personal contact with community leaders?

Did you ever communicate your needs to your community leader?

Please tell me how much you agree with (I feel valued by the members of my community)

Please tell me how much you agree with (Community leaders understand my needs and try their best to satisfy them)

Please tell me how much you agree with (Community leaders give me the opportunity to communicate my needs to them )

Please tell me how much you agree with (Community leaders understand my problems and help me solve them )

I will list read a number of places where conflicts take place, please let me know how often conflicts take place (Conflicts within the family)

I will list read a number of places where conflicts take place, please let me know how often conflicts take place (Conflicts with friends)

I will list read a number of places where conflicts take place, please let me know how often conflicts take place (Conflicts in the neighborhood)

I will list a number of reasons that can lead to conflict "Religious Differences" (Conflicts within the family)

I will list a number of reasons that can lead to conflict "Religious Differences" (Conflicts with friends)

I will list a number of reasons that can lead to conflict "Religious Differences" (Conflicts in the neighborhood)

I will list a number of reasons that can lead to conflict "Political Difference" (Conflicts within the family)

I will list a number of reasons that can lead to conflict "Political Difference" (Conflicts with friends)

I will list a number of reasons that can lead to conflict "Political Difference" (Conflicts in the neighborhood)

I will list a number of reasons that can lead to conflict "Food, Fuel, Water, Medicine" (Conflicts within the family)

I will list a number of reasons that can lead to conflict "Food, Fuel, Water, Medicine" (Conflicts with friends)

I will list a number of reasons that can lead to conflict "Food, Fuel, Water, Medicine" (Conflicts in the neighborhood)

I will list a number of reasons that can lead to conflict "Money" (Conflicts within the family)

I will list a number of reasons that can lead to conflict "Money" (Conflicts with friends)

I will list a number of reasons that can lead to conflict "Money" (Conflicts in the neighborhood)

How present do you think the state is within your area?

Would you like the state to be more or less present or stay the same in your area?

According to your opinion, how available are these services and products in your area? Water

According to your opinion, how available are these services and products in your area? Fuel

According to your opinion, how available are these services and products in your area? Propane gas

According to your opinion, how available are these services and products in your area? Electricity

According to your opinion, how available are these services and products in your area? Health Care

According to your opinion, how available are these services and products in your area? Medication

According to your opinion, how available are these services and products in your area? Education

According to your opinion, how available are these services and products in your area? Infrastructure repair

According to your opinion, how available are these services and products in your area? Hygiene products

According to your opinion, how available are these services and products in your area? Social Services

According to your opinion, how available are these services and products in your area? Fruit and vegetables

According to your opinion, how available are these services and products in your area? Rice

According to your opinion, how available are these services and products in your area? Chicken

According to your opinion, how available are these services and products in your area? Meat

How do evaluate the general security situation in your area?

In your opinion, what are the main reasons behind the deterioration of security situation in your area? First

In your opinion, what are the main reasons behind the deterioration of security situation in your area? Second

In your opinion, what are the main reasons behind the deterioration of security situation in your area? Third

On a scale ranging from 1 to 5 in which "1" means "always very unsafe" and "5" means "always very safe", how safe do you personally feel?

What is the main threat that endangers your personal security?

What will happen if you go out without mahram?

In reality, who brings security to this area? First answer

In reality, who brings security to this area? Second answer

In reality, who brings security to this area? Third answer

How do evaluate your knowledge on the NDC outcomes?

What in your opinion is the most important outcome of the NDC?

How do evaluate Yemen's future if the NDC outcomes were implemented?

How much do you believe Yemen should be divided into regions?

How much do you believe south Yemen should be independent?

Do you have internet access?

Where do you use the internet? On my phone

Where do you use the internet? At home

Where do you use the internet? At the internet cafe

Where do you use the internet? At my friend's house

Where do you use the internet? At University

Where do you use the internet? At Work

Where do you use the internet? Other

Where do you use the internet? Other Specify;

Where do you use the internet? RF

Do you have a facebook account?

How often do you use social media?

I use social media to inform myself about the latest news

I use social media to stay in contact with my friends and family

I use social media to discuss politics with my friends

I use social media to follow Yemeni politicians

I use social media to let Yemeni politicians understand what I want and need

I use social media to follow tribal leaders

I use social media to let tribal leaders understand what I want and need

I use social media for spreading religious messages /preaching purposes

I use social media to follow religious figures and preachers  and to read religious messages

How often do you use TV

How often do you use Radio

How often do you use Newspaper

Compare to the period before war, do you use TV more or less

Compare to the period before war, do you use Radio more or less

Compare to the period before war, do you use Newspaper more or less

What are the Three TV stations that you most watch? First

What are the Three TV stations that you most watch? Second

What are the Three TV stations that you most watch? Third

What are the Three Radio stations that you most listen? First

What are the Three Radio stations that you most listen? Second

What are the Three Radio stations that you most listen? Third